.chosen {
  border: 5px solid #4e4e4e;
  box-shadow: 2px 6px grey;
  outline: none;
}

.slot {
  border: 5px none grey;
//   outline: 2px solid black;
//   5px solid #4e4e4e;
  width: 120px;
  color: black;
  font-weight: 800;
  border-radius: 35%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.1s;
  cursor: pointer;
}
