// $blue : #6773F5;
// $green : #5BF586; 
// $red : #F55B5B; 

@import 'colorPallete.scss';
@import 'components/Game/HistoryPanel/index.scss';
@import 'components/Game/Slots/Slot.scss';
@import 'components/GameHeader/GameHeader.scss';
@import 'components/GameHeader/BoardBackground/BoardBackground.scss';
@import 'components/GameHeader/Logo/Logo.scss';
@import 'components/utils/index.scss';
@import 'components/StartGame/Options/Option.scss';

* {
  box-sizing: border-box;


}

#root {
  z-index: 0;
  background-color: $yellow;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  border: 5px none;
}



.color-button {
  border-radius: 20px;
  border: solid white;

}

.red {
  background-color: $pin-red;
}

.orange {
  background-color: $pin-orange;
}

.yellow {
  background-color: $pin-yellow;
}

.green {
  background-color: $pin-green;
}

.blue {
  background-color: $pin-blue;
}

.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}

.purple {
  background-color: $pin-purple;
}

.brown {
  background-color: $pin-brown;
}

.grey {
  background-color: $pin-grey;
}

.option-row {
  margin: 3px;
  padding: 3px;
}

.colorOption {
  padding: 5px;
  cursor: grab;
}

:root {
  background-color: $yellow;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  z-index: 20;
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.CheatPanel {
  left: 0;
}

.flex-row {
  width: 300px;
}

aside {
  position: absolute;
  top: 0;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}