#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
  .FlexRow{
    display: flex;
    flex-direction: row;
  }

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  border:  5px none;
}
.strongSext{
  color:black;
  font-weight: 800;
}
.color-button{
  border-radius: 20px;
  border:  solid white;

}
.marked{
  opacity: 1 !important;
  
}
.red{
  background-color: red;
  opacity: 0.3;
}
.orange{
  background-color: orange;
  opacity: 0.3;
}
.yellow{
  background-color: yellow;
  opacity: 0.3;
}
.green{
  background-color: green;
  opacity: 0.3;
}
.blue{
  background-color: blue;
  opacity: 0.3;
}
.indigo{
  background-color: indigo;
  opacity: 0.3;
}
.violet{
  background-color: violet;
  opacity: 0.3;
}
.purple{
  background-color: purple;
  opacity: 0.3;
}