$blue : #6773F5;
$green : #5BF586;
$red : #F55B5B;
$yellow: #F5C927;

// https://coolors.co/palette/ff595e-ff924c-ffca3a-8ac926-1982c4-6a4c93
$pin-red: #FF595E;
$pin-orange: #FF924C;
$pin-yellow: #FFCA3A;
$pin-green: #8AC926;
$pin-blue: #1982C4;
$pin-purple: #6A4C93;
$pin-brown: #8f601e;
$pin-grey: #aaaaaa;
//
